@import '../../Grid/scss/mixins';

$side-bar-sm-width: 100%;
$side-bar-md-width: 320px;
$side-bar-lg-width: 380px;

.side-bar {
  background: #000;
  height: 100%;
}

.side-bar__lg {
  @extend .side-bar;

  @include small {
    display: none;
  }

  @include large {
    width: $side-bar-lg-width;
  }
};

.side-bar__md {
  @extend .side-bar;

  @include small {
    display: none;
  }

  @include medium {
    width: $side-bar-md-width;

    position: absolute;
    left: -$side-bar-md-width;
  }
}

.side-bar__sm {
  @extend .side-bar;

  @include small {
    width: $side-bar-sm-width;

    position: absolute;
    left: -$side-bar-sm-width;
  }

  @include medium {
    display: none;
  }

  @include large {
    display: none;
  }
}

.side-bar__show {
  @include small {
    left: 0;
  }

  @include medium {
    position: relative;
    left: 0;
  }
}

.icon__wrapper {
  height: 18px;
  position: relative;

  @include medium {
    display: none;
  }

  @include large {
    display: none;
  }
}

.icon {
  color: #fff;
  cursor: pointer;

  font-size: 1.5em;
  position: absolute;
  right: 8px;

  &:before {
    content: '×';
  }
}