@import '../../Grid/scss/mixins';

$height: 35px;

.header {
  padding: 8px;
  display: flex;
}

.title {
  font-size: 1.3em;
}

.icon {
  cursor: pointer;
  margin-right: 8px;

  @include desktop {
    display: none;
  }

  @include medium {
    display: none;
  }

  &:before {
    content: '☰';

    color: #999;
  }
}