@import '../../Grid/scss/mixins';

:global {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  html, body, #root {
    width: 100%;
    height: 100%;
  }
}