.post {
  height: 100%;
  overflow: scroll;
}

.author {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 8px;
}

.title {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 6px;
}

.thumbnail {
  display: block;
  margin-bottom: 6px;
}

.post-content {
  color: #666;
  font-weight: 400;

  h1, h2, h3, h4, h5, h6 {
    font-size: 0.9em;
    font-weight: 400;
  }

  a {
    color: orange;
  }

  hr {
    height: 0;
    line-height: 0;
    margin: 8px 0;
    border-bottom: 1px solid #eee;
  }
}