.dismiss-all {
  background: #999;
  height: 40px;
  line-height: 40px;

  color: orange;
  cursor: pointer;
  display: block;

  text-align: center;
}

.dismiss-all--disabled {
  cursor: not-allowed;
  color: #bbb;
}