@import './variables';

.fetch-next-top-posts {
  position: relative;
  visibility: visible;
}

.fetch-next-top-posts--animate {
  position: absolute;
  visibility: hidden;

  animation: fetch-next-top-posts-animation $animation-duration forwards;
}
.button {
  background: orange;
  border: 0;
  padding: 8px;
  margin-top: 8px;
}

@keyframes fetch-next-top-posts-animation {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}