@import '../../Grid/scss/variables';
@import './variables';

.post-item {
  width: 100%;
  position: relative;
  margin-bottom: 10px;

  transition: margin $animation-duration;
}

.post-item--dismissed {
  margin-left: -100%;
}

.content {
  margin: 0 $column-gutter;
  border-bottom: 1px solid #aaa;
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

.title {
  font-size: 0.85em;
  color: #aaa;
  font-weight: 400;
  text-decoration: none;

  display: flex;
  align-items: center;

  img {
    margin-right: 8px;
  }
}

.author {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

.createdAt {
  color: #ccc;
  margin-left: auto;
}

.circle {
  float: left;
  margin-right: 8px;

  &:before {
    content: '\25CF';
    color: lightblue;
  }
}
.comments {
  color: orange;
  margin-left: 15px;
  font-size: .85em;
}

.dismiss-post {
  display: inline-block;
  cursor: pointer;
  font-size: .85em;

  color: #fff;
  display: flex;
}

.close-icon {
  font-size: 18px;
  line-height: 0;

  color: orange;
  border: 1px solid orange;
  border-radius: 18px;

  display: inline-block;
  padding: 7px 2px 0 2px;
  margin-right: 4px;

  &:before {
    content: '×';
  }
}