@import '../../Grid/scss/variables';
@import './variables';

.posts {
  height: 100%;
  position: relative;
  color: #fff;

  display: flex;
  flex-direction: column;
}

.scrolleable {
  flex: 1;
  overflow: scroll;
  padding: $column-gutter;
}
