@import './variables';

@mixin mobile {
  @media only screen and (max-width: $small-to-medium-breakpoint + 1) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $small-to-medium-breakpoint + 1) and (max-width: $medium-to-large-breakpoint + 1) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $medium-to-large-breakpoint + 1) {
    @content;
  }
}

@mixin small {
  @include mobile { @content; }
}

@mixin medium {
  @include tablet { @content; }
}

@mixin large {
  @include desktop { @content; }
}
