<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/5859ce0f9f74569269e76e30/1491944352189-37Z0TLXVWGTNBOMZEJ1Q/ke17ZwdGBToddI8pDm48kMcovWnk1HUNj8ybu1oBkicUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcOLmYzUwvEBIXb6DUs9z279-WLcW88F80vCyfI_xucWtdNV5qKOiD-mk6yYccgujl/favicon.ico?format=100w"/>
    <title>Reddit of Deviget Challenge Application</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>